/* import fonts from google fonts  */
@import url('https://fonts.googleapis.com/css?family=Averia+Libre|Source+Serif+Pro');

.App {
  font-family: 'Source Serif Pro', serif;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 80px 570px 60px;
  grid-template-areas:
  "h h h h"
  "s s s s"
  "r r r r"
  "f f f f";
}

.App-header {
  font-family: 'Averia Libre', cursive;
  text-align: center;
  background-color: orange;
  grid-area: h;
  font-size: 50px;
}

.search-bar-body {
  background-color: lightblue;
  grid-area: s;
}

/* .map-body {
  background-color: pink;
  grid-area: m;
} */

.list-body {
  background-color: purple;
  grid-area: r;
}

footer {
  background-color: green;
  grid-area: f;
}

@media only screen and (min-width: 1024px) {
  .App {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 120px 60px 570px 60px;
    grid-template-areas:
    "h h h h"
    "s s s s"
    "r m m m"
    "f f f f";
  }

  .map-body {
    background-color: pink;
    grid-area: m;
  }
}
